

p.palante {
    text-align: center;
    padding: 1rem;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.footer_palante {
    background: #102d7b;
    color: white;
    /* margin-top: 1rem; */
    text-align: -webkit-center;
    padding: 1rem;
}

