@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.contenedor {
    width: 100%;
}
  
.imagen.principal {
    padding: 185px 46px;
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat;

}

.titulo {
    padding: 20px;
    font-size: 62px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: #ffffff2b;
    font-weight: 700;
}

.subtituloblanco {
        padding: 20px;
        color:#102d7b;
        font-family: 'Poppins', sans-serif;
}

.subtitulo{
    font-weight: 300;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #102d7b;
}


.p_contenido_conocenos {
    font-size: 16px;
    color: #413f6a;
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
}

.h1_contenido_conocenos_title {
    margin-bottom: 2rem;
    color: #102d7b;
    margin-top: 2rem;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}






.separador {
    margin: 1.5rem 0;
    width: 10%;
    height: 5px !important;
}

.manos {
    width: 100%;
    height: 495px;
    border-radius: 2rem;
}

.quehacemos {
    background: #fcedc6;
    padding: 100px 0px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #102d7b;
}

.textoquehacemos {
    padding: 0px 0px 0px 40px;
}

.todolist-uno {
    border: 3px solid #fff;
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    background-image: url(https://st3.depositphotos.com/9795234/15176/i/450/depositphotos_151764934-stock-photo-young-woman-showing-her-heartfelt.jpg);
}

.todolist-dos {
    border: 3px solid #fff;
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    background-image: url(https://img.freepik.com/fotos-premium/grupo-clase-aptitud-que-ejercita-parque_13339-10766.jpg?size=626&ext=jpg&ga=GA1.1.1016474677.1696809600&semt=ais);
}
.todolist-tres {
    border: 3px solid #fff;
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    background-image: url(https://img.freepik.com/foto-gratis/nina-hermosa-sonriente-su-novio-guapo-ropa-casual-verano-familia-feliz-tomando-selfie-autorretrato-si-mismos-camara-telefono-inteligente-divirtiendose-calle-muestra-lengua_158538-5464.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699833600&semt=ais);
}

.subtitulofoto {
    text-align: center;
    padding: 142px 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

span {
    padding: 20px 60px;
    background: #00000047;
}

.h1_contenido_todolist {
    margin-bottom: 4rem;
    color: #102d7b;
    margin-top: 2rem;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}

.btn_colaborar {

    float: left;
    color: white;

    padding: 1rem;
    background: #e9959b;
    border-radius: 4px;
    border: 0;
    font-size: 15px;
    margin-top: 1rem;
}



.contenidohacemos, .contenidoconocenos {
    margin: 0 auto;
    max-width: 1140px;
}

.listado {

        font-size: 22px;
}

.h1_contenido_conocenos_equipo {
 
    margin-top: 2rem;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    color: #397FDB;
}

.equipo {

    font-size: 16px;
    color: #413f6a;
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
}

.blanco {
    background: #ffffff;
    padding: 100px 0px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #102d7b;
}

.textoequipo {
    padding: 0px 40px 0px 40px !important;
}



.img_hacemos {
    width: 400px;
    height: 500px;
    margin-right: 4rem;
    margin-bottom: 3rem;
    border-radius: 3rem;
    margin-top: 4rem;

}

.psicologos {
    width: 100%;
    margin-top: 3rem;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

 
.contenido_equipo {
    font-size: 20px;
    margin-top: 2rem;
    margin-left: 5rem;
    font-family: 'Poppins', sans-serif;
    color: #413F6A;
    width: 70%;
}

.evento_1 {
    background: #397fdb;
    padding: 1rem;
    border-radius: 1rem;
}
.dia {
    font-size: 40px;
    color: white;
    margin: 1rem 1rem 0rem 1rem;
}
.mes {
    COLOR: white;
    margin: 0rem 1.5rem 0rem 1.5rem;
}
.prox_evento {
    color: white;
    font-size: 16px;
    margin-top: 2rem;
 
}
.linea_evento {
    color: white;
    margin-top: 1.5rem;
    margin-left: 1rem;
}
.title_prox_evento {
    color: white;
    font-size: 24px;
}
.ir_evento {
    font-size: 39px;
    margin: 1rem 1rem;
    color: white;
}
.profesionales {
    margin-left: 4rem;
    border-radius: 3rem;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    
    
    .p_contenido_conocenos {
        font-size: 16px;
        color: #413f6a;
        margin-top: 0rem;
        margin-left: 3rem;
        font-family: 'Poppins', sans-serif;
        width: 71%;
    }
    
       .img_hacemos {
        display: none;
    }
   
  
    
    
    .btn_colaborar {
        margin-left: 5rem;
        padding: 1rem;
        background: #e9959b;
        border-radius: 1rem;
        border: 0;
        font-size: 19px;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    
    .evento_1 {
        background: #397fdb;
        padding: 1rem;
        border-radius: 1rem;
        margin-left: 0rem;
        margin-bottom: 1rem;
    }
    
    .imagen.principal {
        padding: 3px 26px;
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        width: 390px;
        object-fit: cover;
        height: 157px;
    }
    .titulo {
        padding: 18px;
        font-size: 28px;
        font-family: 'Poppins', sans-serif;
        color: #102d7b;
        background: #ffffff2b;
        font-weight: 700;
        margin-top: 2rem;
    }
    .subtituloblanco {
        padding: 20px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        margin-left: -1rem;
        margin-top: -1rem;
    }
    .blanco {
        background: #ffffff;
        font-family: 'Poppins', sans-serif;
        color: #102d7b;
    }
    .container-fluid.blanco {
        padding: 0px;
    }
    .profesionales {
        display: none;
    }
    .col-7 {
        flex: 0 0 auto;
        width: 100.333333%;
    }
    .quehacemos {
        background: #fcedc6;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        color: #102d7b;
        padding: 18px 0px 0px 0px;
        margin-top: 3rem;
    }
    .contenidohacemos {
        margin: 0 auto;
        max-width: 1140px;
               
    }
    .manos {
        height: 300px;
        width: 300px;
        margin-left: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .h1_contenido_conocenos_title {
        color: #102d7b;
        margin-left: 1rem;
        margin-top: 0rem;
        font-size: 32px;
        font-family: 'Poppins', sans-serif;
    }
    .subtitulo {
        font-weight: 300;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        color: #102d7b;
        margin-top: 4rem;
    }
    button.btn_colaborar {
        margin-left: 1rem;
    }
    
    .col-6 {
        flex: 0 0 auto;
        width: 100%;
    }
    .psicologos {
        
        width: 350px;
        margin-top: 1rem;
        margin-bottom: 3rem;
        margin: 1rem 0.5rem 4rem;
    }
}