.meditations_tittle {
    position: absolute;
    margin-top: -7rem;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    color: #102d7b;
}
.explicacion_meditations {
    position: absolute;
    width: 70%;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
    color: #413f6a;
}
.meditations_inicio {
    width: 100%;
    object-fit: cover;
    height: 200px;
    object-position: left;
    margin-bottom: 2rem;
}

.introduction_meditations {
    display: flex;
    align-items: center;
    justify-content: center;
}
i.fa-solid.fa-heart.me-3 {
    font-size: 24px;
    color: #102D7B;
    padding: 1rem;
}
h5.card-title {
    color: #102d7b;
    padding: 1rem;
}
@media only screen and (max-width: 600px) {
    .explicacion_meditations {
        display: none;
    }
    
    .meditations_tittle {
        position: absolute;
        transform: translate(-50%, -50%);
        font-size: 35px;
        font-family: 'Poppins', sans-serif;
        color: #102D7B;
        width: 70%;
        margin-top: 2rem;
        margin-left: 21rem;
    }
}
