 .btn_comunidad, .btn_recursos {
    background: none;
    border: none;
    color: #413F6A;
    margin-right: 1rem;
    padding: 1rem;
    font-family: roboto;
    font-size: 22px;
}
.nav_palante {
    font-size: 28px;
    color: #102d7b;
    font-family: roboto;
}
.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
    background: #FFFFFF;
    box-shadow: 10px 1px 5px #9e9e9e61;
   
}

.appointment_btn {
    background: transparent;
    border: none;
    color: #413F6A;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 22px;
    font-family: roboto;
}
.appointment_btn:hover {
    background-color: #2C3D91;
    color: white;
}
.nav_btn {
    background: transparent;
    border: none;
    color: #413F6A;
    padding: 1rem;
    font-size: 22px;
    font-family: roboto;
}
.nav_btn:hover .fa-user {
    text-shadow: 0 0 5px #2C3D91;
}


/* Asegúrate de que estos estilos estén en tu archivo navbar.css */

/* Estilos para pantallas grandes */
@media (min-width: 600px) {
    .navbar-toggler {
      display: none; /* Oculta el botón de hamburguesa en pantallas grandes */
    }
  }
  
  /* Estilos para pantallas pequeñas (menos de 600px de ancho) */
  @media (max-width: 600px) {

    .container_navbar_right {
      flex-direction: column; /* Coloca los elementos uno debajo del otro */
    }
  
    .dropdown,
    .login {
      margin-top: 10px; /* Añade un poco de espacio entre los elementos en pantallas pequeñas */
    }
  
    /* Estilos para ocultar la barra de navegación y mostrar el menú hamburguesa */
    .navbar-collapse {
      display: none;
    }
  
    .navbar-collapse.show {
      display: flex;
      flex-direction: column;
    }
  
    .navbar-nav {
      margin-top: 10px;
    }
  }
  